# Shared
NODE_ENV=development

# Web
VITE_API_URL=http://localhost:3000
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
VITE_COGNITO_DOMAIN=

# API
PORT=3000
DATABASE_URL=
TEST_DATABASE_URL=postgresql://paved_road:paved_road@localhost:5432/paved_road_dev?schema=api_test
CORS_ORIGIN=http://localhost:5173
COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=

